page-contact {

	.content{
		background-color: #f1f2f2;
	}
	.header-contact{
		background-image: url('../assets/imgs/contacto-bg.png');
		width: 100%;
		background-size: cover;
		height: 100px;
		background-repeat: no-repeat;
	}
	.contact-list{
		width: 100%;
	}

	.item{
		padding-left: 0;
		font-size: 14px;
		color: #58595b;
		background-color: #f1f2f2;
		text-align: center;
		.item-inner{
    		border-bottom: 2px solid #d8d9d9!important;
		}
		ion-label{
			padding: 8px;
		}
	}

	.contact-text{
		margin-bottom: 8px;
	}

	.contact-logo{
		
		.item-inner{
			border-bottom: none!important;
		}
	}

	a{
		color: #58595b;
		text-decoration: none;
	}
}
