page-home {
	ion-list{
		width: 100%;
	}
	.home-item{
		background: linear-gradient(to bottom right, #e64747, #941f1f);
		/*background: linear-gradient(to bottom right, #e64747, #c41d1d);*/
		width: 100%;
		margin-bottom: 8px;
		color: #fff;
		text-align: center;
	    
	    color: #fff;
	    font-weight: bold;
	    font-size: 22px;
	}
	.center{
		text-align: center;
		width: 100%;
		display: block;
		h3{
			color: #636363;
			font-size: 12px;
		}
	}
	.logo{
		width: 100px;
		margin: auto;
	}
}
